??
build
asdf.lisp

doc/cmucl/
doc/asdf/
doc/asdf.aux
doc/asdf.cp
doc/asdf.cps
doc/asdf.fn
doc/asdf.fns
doc/asdf.html
doc/asdf.info
doc/asdf.ky
doc/asdf.log
doc/asdf.pdf
doc/asdf.pg
doc/asdf.toc
doc/asdf.tps
doc/asdf.tp
doc/asdf.tps
doc/asdf.vr
doc/asdf.vrs
doc/asdf.t2d/
doc/asdf.dvi
doc/version.texinfo
doc/*.log
*.tmp

uiop/doc/uiop.html
uiop/doc/uiop.info
uiop/doc/uiop.pdf
uiop/doc/uiop.texinfo

LICENSE
README.html
tmp/
man/
lib/
*.dribble
*.fas[bcl]
*.fas
*.lib
*.[oahcisS]
*.*fsl
*.x86f
*.bak
*.data
*.ufasl
*.vbin
*.~*~
*.sse2f
test/try-reloading-dependency.asd
test/fileMissing.lisp
test/hello-world-example
test/test-include.asd
test/test-multiple-too.asd

build-stamp

# Although there is no debian subdir/ in this repo any more, the
# presence of these lines helps the debian package maintainers, so
# please leave them here.

debian/cl-asdf.debhelper.log
debian/cl-asdf.postinst.debhelper
debian/cl-asdf.prerm.debhelper
debian/cl-asdf.substvars
debian/cl-asdf/
debian/files

.pc

.DS_Store

core

# Hack: ignore the GNUmakefile here, so you can ln -s Makefile-lisp-scripting GNUmakefile
GNUmakefile
