*.x86f
*.fasl
*.abcl
*.dfsl
*.lx64fsl
*.elc
*~
\#*\#
.\#*
.DS_Store
# for the doc
#
doc/*.html
doc/html
doc/*.info
doc/*.pdf
doc/*.ps
doc/*.dvi
doc/*.aux
doc/*.cp
doc/*.cps
doc/*.fn
doc/*.fns
doc/*.ky
doc/*.kys
doc/*.log
doc/*.pg
doc/*.toc
doc/*.tp
doc/*.vr
doc/*.op
doc/*.ops
doc/*.pgs
doc/*.vrs
doc/*.tgz
/dist/
