*.fasl
.#*
*#
*~
/bugs.lisp
/Documentation/Manual/tempfiles-stamp
/Documentation/Manual/inspect-object-3.png
/Documentation/Manual/LaTeX/mcclim.out
/Documentation/Manual/LaTeX/mcclim.aux
/Documentation/Manual/LaTeX/mcclim.cp
/Documentation/Manual/LaTeX/mcclim.cps
/Documentation/Manual/LaTeX/mcclim.fn
/Documentation/Manual/LaTeX/mcclim.fns
/Documentation/Manual/LaTeX/mcclim.pdf
/Documentation/Manual/LaTeX/mcclim.ps
/Documentation/Manual/LaTeX/mcclim.toc
/Documentation/Manual/LaTeX/mcclim.tp
/Documentation/Manual/LaTeX/mcclim.tps
/Documentation/Manual/LaTeX/mcclim.vr
/Documentation/Manual/LaTeX/mcclim.vrs
/Documentation/Manual/LaTeX/mcclim.bbl
/Documentation/Manual/LaTeX/mcclim.blg
/Documentation/Manual/LaTeX/mcclim.cb
/Documentation/Manual/LaTeX/mcclim.cb2
/Documentation/Manual/LaTeX/mcclim.idx
/Documentation/Manual/LaTeX/mcclim.log
/Documentation/Manual/LaTeX/native.eps
/Documentation/Manual/LaTeX/native.gif
/Documentation/Manual/LaTeX/native.pdf
/Documentation/Manual/LaTeX/native.pdf_t
/Documentation/Manual/LaTeX/ex2.pdf
/Documentation/Manual/LaTeX/ex2.pdf_t
/Documentation/Manual/LaTeX/fig-inspect-as-cells.pdf
/Documentation/Manual/LaTeX/fig-inspect-as-cells.pdf_t
/Documentation/Manual/LaTeX/fig-inspect-object-1.pdf
/Documentation/Manual/LaTeX/fig-inspect-object-1.pdf_t
/Documentation/Manual/LaTeX/fig-inspect-object-2.pdf
/Documentation/Manual/LaTeX/fig-inspect-object-2.pdf_t
/Documentation/Manual/LaTeX/fig-inspect-object-3.pdf
/Documentation/Manual/LaTeX/fig-inspect-object-3.pdf_t
/Documentation/Manual/native.png
/Documentation/Manual/ex2.gif
/Documentation/Manual/ex2.png
/Documentation/Manual/inspect-as-cells.gif
/Documentation/Manual/inspect-as-cells.pdf
/Documentation/Manual/inspect-as-cells.png
/Documentation/Manual/inspect-object-1.gif
/Documentation/Manual/inspect-object-1.pdf
/Documentation/Manual/inspect-object-1.png
/Documentation/Manual/inspect-object-2.gif
/Documentation/Manual/inspect-object-2.pdf
/Documentation/Manual/inspect-object-2.png
/Documentation/Manual/inspect-object-3.gif
/Documentation/Manual/inspect-object-3.pdf
/Documentation/Manual/Texinfo/tempfiles-stamp
/Documentation/Manual/Texinfo/ex2.gif
/Documentation/Manual/Texinfo/ex2.pdf
/Documentation/Manual/Texinfo/ex2.png
/Documentation/Manual/Texinfo/inspect-as-cells.gif
/Documentation/Manual/Texinfo/inspect-as-cells.pdf
/Documentation/Manual/Texinfo/inspect-as-cells.png
/Documentation/Manual/Texinfo/inspect-object-1.gif
/Documentation/Manual/Texinfo/inspect-object-1.pdf
/Documentation/Manual/Texinfo/inspect-object-1.png
/Documentation/Manual/Texinfo/inspect-object-2.gif
/Documentation/Manual/Texinfo/inspect-object-2.pdf
/Documentation/Manual/Texinfo/inspect-object-2.png
/Documentation/Manual/Texinfo/inspect-object-3.gif
/Documentation/Manual/Texinfo/inspect-object-3.pdf
/Documentation/Manual/Texinfo/inspect-object-3.png
/Documentation/Manual/Texinfo/mcclim.aux
/Documentation/Manual/Texinfo/mcclim.cp
/Documentation/Manual/Texinfo/mcclim.cps
/Documentation/Manual/Texinfo/mcclim.fn
/Documentation/Manual/Texinfo/mcclim.fns
/Documentation/Manual/Texinfo/mcclim.log
/Documentation/Manual/Texinfo/mcclim.pdf
/Documentation/Manual/Texinfo/mcclim.ps
/Documentation/Manual/Texinfo/mcclim.toc
/Documentation/Manual/Texinfo/mcclim.tp
/Documentation/Manual/Texinfo/mcclim.tps
/Documentation/Manual/Texinfo/mcclim.vr
/Documentation/Manual/Texinfo/mcclim.vrs
/Documentation/Manual/Guided-Tour/draw-frame-commands
/Documentation/Manual/Guided-Tour/draw-frame-def-app
/Documentation/Manual/Guided-Tour/draw-frame-interfacing
/Documentation/Manual/Guided-Tour/file-browser-all
/Documentation/Manual/Guided-Tour/guided-tour.aux
/Documentation/Manual/Guided-Tour/guided-tour.bbl
/Documentation/Manual/Guided-Tour/guided-tour.blg
/Documentation/Manual/Guided-Tour/guided-tour.dvi
/Documentation/Manual/Guided-Tour/guided-tour.log
/Documentation/Manual/Guided-Tour/guided-tour.pdf
/Documentation/Manual/Guided-Tour/hello-world-def-app
/Documentation/Manual/Guided-Tour/hello-world-defclass
/Documentation/Manual/Guided-Tour/hello-world-handle-repaint
/Documentation/Manual/Guided-Tour/scheduler-part1
/Documentation/Manual/Guided-Tour/scheduler-part2
/Documentation/Manual/Guided-Tour/techno-dep.pstex
/Documentation/Manual/Guided-Tour/techno-dep.pstex_t
/Documentation/Specification/border-example.pdf
/Documentation/Specification/bounding-box.pdf
/Documentation/Specification/clim.aux
/Documentation/Specification/clim.idx
/Documentation/Specification/clim.ilg
/Documentation/Specification/clim.ind
/Documentation/Specification/clim.log
/Documentation/Specification/clim.out
/Documentation/Specification/clim.pdf
/Documentation/Specification/clim.toc
/Documentation/Specification/corner-circle.pdf
/Documentation/Specification/correct-circle.pdf
/Documentation/Specification/design-classes.pdf
/Documentation/Specification/different-ellipses.pdf
/Documentation/Specification/graph-example.pdf
/Documentation/Specification/horizontal-lines.pdf
/Documentation/Specification/inscribed-circle.pdf
/Documentation/Specification/line-cap-shapes.pdf
/Documentation/Specification/line-joint-shapes.pdf
/Documentation/Specification/region-composition.pdf
/Documentation/Specification/region-normalization.pdf
/Documentation/Specification/region-structure.pdf
/Documentation/Specification/spec-macros.aux
/Documentation/Specification/table-example.pdf
/Documentation/Specification/thick-lines.pdf
/Documentation/Specification/thin-lines.pdf
/Documentation/Specification/two-triangles.pdf
*.fas
*.aux
*.bbl
*.blg
*.log
/Documentation/Papers/Demo-2017/mcclim-demo.pdf
/Documentation/Manual/Texinfo/drei.vrs
/Documentation/Manual/LaTeX/mcclim.pdf.xoj
/Documentation/Manual/Texinfo/drei
/Documentation/Manual/Texinfo/drei.cp
/Documentation/Manual/Texinfo/drei.cps
/Documentation/Manual/Texinfo/drei.fn
/Documentation/Manual/Texinfo/drei.fns
/Documentation/Manual/Texinfo/drei.info
/Documentation/Manual/Texinfo/drei.pdf
/Documentation/Manual/Texinfo/drei.ps
/Documentation/Manual/Texinfo/drei.toc
/Documentation/Manual/Texinfo/drei.tp
/Documentation/Manual/Texinfo/drei.tps
/Documentation/Manual/Texinfo/drei.vr
/Documentation/Manual/Texinfo/html-stamp
/Documentation/Manual/Texinfo/mcclim.info
/Documentation/Manual/Texinfo/mcclim.pdf.xoj
/Documentation/Drei/drei
/Documentation/Drei/drei.html/
/Documentation/Drei/drei.info
/Documentation/Drei/drei.pdf
/Documentation/Drei/drei.vrs
/Documentation/Drei/drei.vr
/Documentation/Drei/drei.cp
/Documentation/Drei/drei.cps
/Documentation/Drei/drei.fn
/Documentation/Drei/drei.fns
/Documentation/Drei/drei.toc
/Documentation/Drei/drei.tp
/Documentation/Drei/drei.tps
/Documentation/Manual/Texinfo/mcclim/
